<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Spotify Search</title>

</head>

<body id="body">

  <main>
    <div class="wrapper">
      <div id="currently-playing">
        <p id="controls">Play</p>
        <p>Currently listening to:</p>
      </div>
      <div id="queue">
        <p>Dylan's Queue</p>
        
      </div>
    </div>

    <div class="search-wrapper wrapper">
      <p>Search spotify:</p>
      <form id="search-form">
        <input name="q" type="search"/>
      </form>
      <div id="search-results"></div>
    </div>
  </main>
  <script src="/main.js"></script>
</body>

</html>