<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Spotify Search</title>

</head>

<body id="body" class="dark-mode">

  <main>
    <button style="display:none" class="dark-toggle">Dark Mode</button>
    <div class="wrapper">

      <h3>My Open Playlist</h3>
      <div class="grid">
        <div class="box" id="currently-playing">
          <!-- <p id="controls">Play</p> -->
          <div class="title">
            <strong>Currently Playing</strong>
          </div>

        </div>

        <div class="box" id="queue">
          <div class="title">
            <strong>Recently Added</strong>
          </div>
        </div>

        <div class="box" id="search-box">
          <div class="title">
            <strong>Search Spotify and Add</strong>
            <form id="search-form">
              <input name="q" type="search" placeholder="Search..."/>
            </form>
          </div>
          <div id="search-results"></div>
        </div>
      </div>
    </div>
    <div class="canvas"></div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script src="/three.min.js"></script>
  <script src="/particles.js"></script>
  <script src="/main.js"></script>
</body>

</html>