<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Spotify Search</title>

</head>

<body id="body">

  <main>
    <div class="wrapper">
      <h4>This is REQ</h4>
      <div class="box" id="currently-playing">
        <!-- <p id="controls">Play</p> -->
        <strong>Currently Playing</strong>
      </div>
      <div class="box" id="queue">
        <strong>Next Up</strong>
        
      </div>
      <div class="box" id="search-box">
        <strong>Search Spotify and Add</strong>
        <form id="search-form">
          <input name="q" type="search"/>
        </form>
        <div id="search-results"></div>
      </div>
    </div>

    
  </main>
  <script src="/main.js"></script>
</body>

</html>