* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', sans-serif;
  transition: all .5s ease;
}

main {
  width: 80%;
  margin: 30px auto;
}

h4 {
  text-align: center;
  margin-bottom: 30px;
  transition: all .5s ease;
}
strong {
  transition: all .5s ease;
}

button.dark-toggle {
  position: absolute;
  top: 5px; 
  right: 5px;
  background: none;
  border: none;
  color: #121212;
  transition: all .5s ease;
}

.wrapper {
  position: relative;
  z-index: 100;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 450px;
  gap: 30px;
}
.box {
  padding: 0px 40px 20px;
  border: 1px solid #DDD;
  border-radius: 5px;
  background: #082b3a;
  transition: all .5s ease;
  box-shadow:  
    20px 20px 60px #072531, 
    -20px -20px 60px #093143;
  /* background: rgba(255,255,255,.9) */
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0 20px;
  padding: 0 0 20px;
  /* border-bottom: 1px solid #DDD; */
  opacity: 0;
  /* will-change: transform, opacity;
  transform: translateY(10px);
  transition: all .2s ease-in 1s; */
  animation: fade-in .5s ease forwards;
}
.track.loaded {
  /* opacity: 1;
  transform: translateY(0); */
  animation: fade-in .5s ease forwards;
}

.track p,
.track .track-info  {
  flex: 1;
  margin-bottom: 5px;
  transition: all .5s ease;
}

#queue .track p {
  margin-bottom: 0;
  transition: all .5s ease;
}

.track .track-info .song {
  font-weight: bold;
}

.track .add-to-queue {
  text-align: right;
}


#search-box {
  grid-column: 2;
  grid-row: 1/3;
}

#queue,
#search-box {
  overflow-y: scroll 
}

.title {
  /* background: #FFF; */
  background: #082b3a;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 20px 0 10px;
  transition: all .3s ease;
}


.dark-mode {
  background: #121212;
}

.dark-mode .dark-toggle,
.dark-mode p,
.dark-mode strong,
.dark-mode h4 {
  color: #EEE;
}

.dark-mode .title {
  /* background: #2a2a2a; */
}
.dark-mode .box {
  border: none;
  /* background: #2a2a2a; */

}

@media all and (max-width:720px) {
  main {
    width: 90%;
  }
  .wrapper {
    height: 90vh;
  }
  .box {
    padding: 0px 20px 20px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 1fr;
    height: 100%;
  }
  #search-box {
    grid-column: 1;
    grid-row: 3;
  }
}

.canvas {
  position: fixed;
  top:0;
  left: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}